# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment variables and secrets
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/